{% extends "account/base.html" %}
{% load account %}
{% load quits_extras %}

{% block content %}
<div class="container">
    <h2 class="header content green-text text-darken-3">Password Reset</h2>

    <p>Forgot your password or just want a new one? Enter your email address here, and we'll send you an email so you can reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" id="password_reset_form" class="col s12 m8 offset-m2">
        {% csrf_token %}
        <div class="row no-margin-bottom">
            <div class="input-field">
                {{ form.email|html_placeholder:"Email address"|html_class:"validate" }}
                {{ form.email.errors|customise_error_message }}
            </div>
        </div>
        <br>
        <input class="btn-large red" type="submit" value="Reset Password" />
    </form>
</div>
{% endblock %}
