{% extends "account/base.html" %}

{% block head_title %}Verification Required{% endblock %}

{% block content %}
<div class="card">
    <h2 class="green-text text-darken-3">Just one more thing...</h2>
    <div class="container">
        <p class="flow-text">We've sent you an email for verification. Please click on the link in the email (or contact us if you don't receive it within a few minutes).</p>
        {% if user.is_authenticated %}
        <a id="id_back_to_my_groups_btn" class="btn-large green" href="{% url 'home' %}">Back to My Groups</a>
        <br><br>
        {% else %}
        <p>Thanks for signing up!</p>
        {% endif %}
    </div>
</div>

{% endblock %}
