{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!--Main site details-->
<title>AreWeQuits?</title>
<meta name="description" content="AreWeQuits? is the easy way to share bills with your housemates, friends and colleagues. Keep track, stick to your budget, stop having arguments.">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

<!--Google-->
<link rel="author" href="https://plus.google.com/111511979202703026877">

<!--Facebook-->
<meta property="og:title" content="AreWeQuits?">
<meta property="og:type" content="article">
<!--<meta property="og:url" content="http://likejasper.pythonanywhere.com">-->
<meta property="og:url" content="localhost:8000">
<meta property="og:description" content="Share expenses like a boss with AreWeQuits? Keep track, stick to your budget, stay friendly.">
<meta property="fb:admins" content="614414000">
<meta property="fb:admins" content="1612680089">
<meta property="fb:app_id" content="1573573702925862">

<!--Twitter-->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://likejasper.pythonanywhere.com">
<meta name="twitter:title" content="AreWeQuits?">
<meta name="twitter:description" content="Share expenses like a boss with AreWeQuits? Keep track, stick to your budget, stay friendly.">

<!--Styling-->
<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700">
<link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}" media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="{% static "css/tooltipster.css" %}">
<link rel="stylesheet" href="{% static "css/arewequits.css" %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
