<h3 class="row green-text text-darken-3">Sort out shared expenses like a boss with AreWeQuits?</h3>
<div class="row">
    <div class="col s2 m3"><p> </p></div>
    <ul class="col s8 m6 card collection left-align flow-text">
        <li class="collection-item">
            <div class="valign-wrapper">
                <i class="material-icons green-text text-darken-3">today</i>
                &nbsp;&nbsp;&nbsp;&nbsp;Household bills
                <i class="material-icons right green-text">done</i>
            </div></li>
        <li class="collection-item">
            <div class="valign-wrapper">
                <i class="material-icons green-text text-darken-3">shopping_cart</i>
                &nbsp;&nbsp;&nbsp;&nbsp;Weekly shop
                <i class="material-icons right green-text">done</i>
            </div></li>
        <li class="collection-item">
            <div class="valign-wrapper">
                <i class="material-icons green-text text-darken-3">local_dining</i>
                &nbsp;&nbsp;&nbsp;&nbsp;Meals out
                <i class="material-icons right green-text">done</i>
            </div></li>
        <li class="collection-item">
            <div class="valign-wrapper">
                <i class="material-icons green-text text-darken-3">flight</i>
                &nbsp;&nbsp;&nbsp;&nbsp;Group holidays
                <i class="material-icons right green-text">done</i>
            </div></li>
        <li class="collection-item">
            <div class="valign-wrapper">
                <i class="material-icons green-text text-darken-3">local_activity</i>
                &nbsp;&nbsp;&nbsp;&nbsp;Gig tickets
                <i class="material-icons right green-text">done</i>
            </div></li>
        <li class="collection-item">
            <div class="valign-wrapper">
                <i class="material-icons green-text text-darken-3">person_pin</i>
                &nbsp;&nbsp;&nbsp;&nbsp;IOUs
                <i class="material-icons right green-text">done</i>
            </div></li>
    </ul>
    <div class="col s2 m3"><p> </p></div>
</div>
<p class="row flow-text">AreWeQuits? keeps track and works out who owes how much, so you don't have to. Even better, with AreWeQuits? you'll never need to make fiddly transactions to pay each other back.</p>
<p class="row flow-text">Your life made easier for free.</p>
