<h3 class="row green-text text-darken-3">How does it work?</h3>

<p class="flow-text">
<i class="material-icons green-text text-darken-3">local_dining</i><br>
You go out for a meal with your two housemates and one of them pays the bill. She makes a quick note of the amount in your AreWeQuits? group.
</p>

<p class="flow-text">
<i class="material-icons green-text text-darken-3">shopping_cart</i><br>
After the meal you're in the red, so you offer to pay for the next household shop and add it to the AreWeQuits? group.
</p>

<p class="flow-text">
<i class="material-icons green-text text-darken-3">local_bar</i><br>
Your other housemate is still in the red, so next time the three of you go out, he's buying the drinks!
</p>

<p class="flow-text">
<i class="material-icons green-text">done</i><br>
And that's how it works! Everyone's debts get cleared without any money changing hands. If you need to settle a debt urgently, you can just add another payment from one person to others.
</p>
